.reviews_container{

}

.review_card{

}

.review_author{
    font-size: 18px;
    font-family: inherit;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;

}

.review_author_post{

}