
/* Стилі на кнопку */

.movieDet_btn{
    margin-bottom: 20px;
    font-size: 18px;
    color: #121111;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.movieDet_btn:hover,.movieDet_btn:focus {
    color: #000000;
  }
  
  .movieDet_btn:focus:after,
  .movieDet_btn:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .movieDet_btn:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #000000;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }

  /* Стилі на блок */

  .movieDet_container{
    margin-left: 60px;
    margin-right: 60px;
}

  .movieDet_block{
    display: flex;

  }

  .movieDet_infoBlock{
    margin-left: 60px;
  }

  .movieDet_title{
    font-size: 60px;
    margin-bottom: 30px;
  }

  .movieDet_userScore{
    font-size: 18px;
    color: #0420bb;
    font-family: inherit;
    font-weight: 700;
    margin-bottom: 30px;
  }

  .movieDet_pre_title{
    font-size: 18px;
    font-family: inherit;
    font-weight: 700;
    margin-bottom: 10px;
  }



  .movieDet_text{
    font-size: 18px;
    font-family: inherit;
    font-weight: 500;
    margin-bottom: 30px;
  }

  .line{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
  }

  .movieDet_link{
    display: flex;
    gap: 30px;
    cursor: pointer;
  }

