
/* Стилі на кнопку */

.movieDet_btn{
    margin-left: 60px;
    margin-bottom: 60px;
    font-size: 18px;
    color: #121111;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.movieDet_btn:hover,.movieDet_btn:focus {
    color: #000000;
  }
  
  .movieDet_btn:focus:after,
  .movieDet_btn:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .movieDet_btn:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #000000;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }